<!doctype html>
<html lang="en" class="">

<head>
    <meta charset="utf-8">
    <title>Features - Appy Demo</title>
    <script>
    if (localStorage.getItem('dark-mode') == 'true' || !('dark-mode' in localStorage)) {
        document.querySelector('html').classList.add('dark');
    } else {
        document.querySelector('html').classList.remove('dark');
    }        
    </script>
</head>

<body class="font-inter antialiased bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 tracking-tight">

    <!-- Page wrapper -->
    <div class="flex flex-col min-h-screen overflow-hidden">

        <!-- Site header -->
        <%= require('html-loader!./partials/header.html') %>

        <!-- Page content -->
        <main class="flex-grow">
            
            <!-- Page sections -->
            <%= require('html-loader!./partials/hero-testimonials.html') %>
            <%= require('html-loader!./partials/clients.html') %>
            <%= require('html-loader!./partials/video-testimonial.html') %>
            <%= require('html-loader!./partials/testimonials-carousel.html') %>
            <%= require('html-loader!./partials/testimonials-circles.html') %>
            <%= require('html-loader!./partials/cta.html') %>

        </main>

        <!-- Site footer -->
        <%= require('html-loader!./partials/footer.html') %>

    </div>

</body>

</html>